/* header部分 */
.header-container {
  width: 80%;
  height: 4rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  color: white;
  width: 100%;
  background-color: rgb(165, 156, 156);
  position: fixed;
  box-sizing: border-box;
  font-family: Courgette;
}

.home-pictures {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
}

/* body部分 */
.picture {
  margin-bottom: -3px;
  height: 35rem;
  background-color: cornsilk;
}

.heading {
  border-bottom: 6px double #ffffff;
  display: inline-block;
  width: 200px;
  font-family: "Homeade Apple", cursive;
}
.wrapper {
  width: 100%;
  height: 100%;
  background-image: url(images/toyosu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.wrapper .container {
  /* max-width: 1000px; */
  margin: 0px;
  padding: 40px 0px;
}

.wrapper .content .heading {
  margin: 0px 0px 40px 0px;
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

/* @media (min-width: 992px) {
  .wrapper .content .list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
} */
.wrapper .content {
  padding: 15px;
  line-height: 1.8rem;
  color: #ffffff;
  text-align: center;
}
/* @media (min-width: 992px) {
  .wrapper .content .list-item {
    width: 50%;
  }
} */

.container {
  backdrop-filter: blur(4px);
  margin: 0px;
}

.box {
  display: flex;
  margin: 5px;
  padding: 0px;
  text-align: center;
}

.list {
  flex: 1;
}

.list-title {
  margin: 20px 0px 10px 0px;
  font-size: 25px;
  font-family: serif;
  border-bottom: 1px dotted;
  display: inline-block;
  width: 150px;
  text-shadow: 0px 2px 3px black;
}

.list-item {
  margin: 20px;
  color: #ffffff;
  padding-bottom: 20px;
  font-family: monospace;
  font-size: 25px;
  text-shadow: 3px 5px 10px rgb(0, 0, 0);
}

.box-title {
  text-align: center;
  margin: 0px;
  color: chartreuse;
  text-shadow: 0px 2px 3px rgb(0, 0, 0);
  font-size: 25px;
  font-family: "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体",
    sans-serif;
}

.box-item {
  text-align: center;
  margin: 0;
  font-family: "Permanent Marker", cursive;
  font-size: 24px;
}

.countdown {
  background-color: cornsilk;
  padding: 10px;
}

.countdown-timer {
  text-align: center;
}
/* スライドショー */
#main {
  width: 580px;
  height: auto;
}

#sample-img {
  margin-top: 15px;
  width: 100%;
  height: auto;
}
